<!-- <div class="navigacija">   
    <button class="btn btn-primary" [routerLink]="''">Početna</button>

    <button class="btn btn-primary" [routerLink]="'treca'">Treća</button>
</div>
 -->

 <nav class="navbar navbar-expand bg-dark navbar-dark" >
     <ul class="navbar-nav">
         <li class="navbar-item">
             <a class="nav-link" [routerLink]="''">Citati</a>
         </li>
         <li class="navbar-item">
            <a class="nav-link" [routerLink]="'drzave'">Države</a>
        </li>
     </ul>
 </nav>